<link rel="stylesheet" href="@Url.Content("~/Content/Styles/Profile/Pill.css")" />
<link rel="stylesheet" href="@Url.Content("~/Content/Styles/Profile/tag-basic-style.css")" />



<div class="panel panel-primary " id="pillbox">

    <div class="panel-body">

        @Html.Partial("_DropZonePartial")

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Trade Settings</h4>
                    </div>


                    <div class="modal-body">
                        <input data-placeholder="Categories" data-bind="kendoDropDownList: { data: Category, dataTextField:'Name', dataValueField:'Id', value: SelectedChoice }" />
                        @*<input type="text" data-placeholder="Categories" data-bind="kendoMultiSelect: {  data: Category, dataTextField:'Name', dataValueField:'Id', value : SelectedChoice  }" />*@
                        <div class="space-4"></div>
                        <div class="right-inner-addon ">
                            <i class="fa fa-user"></i>
                            <input type="text" class="form-control" id="itemName" data-bind="value: PillView().Name" placeholder="Item Name" />
                        </div>
                        <div class="space-2"></div>
                        <span class="badge badge-info">Trade Tag</span>
                        <div class="space-2"></div>
                        <div data-tags-input-name="taggone" id="tagTrade" data-bind="text: PillView().TradeTag"></div>
                        <div class="space-2"></div>
                        <span class="badge badge-purple">Exchange Tag</span>
                        <div class="space-2"></div>
                        <div data-tags-input-name="taggone" id="tagExchange" data-bind="text: PillView().ExchangeTag"></div>
                    </div>


                    <div class="modal-footer">
                        <button id="openDropZone" type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>


        @*<span class="badge">1</span>
            <button class="btn btn-xs" data-toggle="modal" id="modalId" data-target="#myModal">
                <i class="icon-wrench  bigger-110 icon-only"></i>
            </button>
            <div class="arrow"></div>

            <span class="badge badge-success">2</span>
            <button id="clickMe" class="btn btn-success btn-xs">
                <i class="icon-cloud-upload  bigger-110 icon-only"></i>
            </button>


            <div class="arrow"></div>
            <span class="badge badge-warning">3</span>
            <button id="uploadOk" class="btn btn-warning btn-xs" data-bind="click: Recycle">
                <i class="icon-trash  bigger-110 icon-only"></i>
            </button>*@

        @*<div class="col-md-6 col-md-offset-6" style="margin-top:10px;">
                <button class="btn btn-danger btn-sm btn-block" data-bind="click: recycle"><i class="icon-trash"></i>Recycle</button>

            </div>*@

        <div id="fuelux-wizard" class="row-fluid" data-target="#step-container">
            <ul class="wizard-steps">
                <li data-target="#step1" class="active">

                    <span class="step">1</span>
                    <span class="title">Choose Image</span>
                </li>

                <li data-target="#step2">
                    <span class="step">2</span>
                    <span class="title">Details</span>
                </li>

                <li data-target="#step3">
                    <span class="step">3</span>
                    <span class="title">Post Item</span>
                </li>

                @*<li data-target="#step4">
                    <span class="step">4</span>
                    <span class="title">Finish</span>
                </li>*@
            </ul>
        </div>

        <hr />
        <div class="row-fluid wizard-actions">
            <button class="btn btn-prev btn-xs">
               
                <i class="fa fa-arrow-circle-o-left icon-2xx"></i>
                Previous
            </button>

            <button class="btn btn-success btn-next btn-xs" data-last="Finish" >
                Next
                <i class="fa fa-arrow-circle-o-right icon-2xx"></i>
            </button>
        </div>



    </div>
</div>

<script src="@Url.Content("~/Scripts/Profile/Pill.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Profile/tagging.js")" type="text/javascript"></script>
<script src="~/Scripts/External/fuelux.wizard.min.js"></script>
<script src="~/Scripts/External/ace-elements.min.js"></script>
<script src="~/Scripts/External/bootbox.min.js"></script>
<script>


    $(document).ready(function () {
        $("#tagTrade").tagging();
        $("#tagExchange").tagging();



        var $validation = false;
        var wiz = $('#fuelux-wizard').ace_wizard().on('change', function (e, info) {
            if (info.direction == "next") {
                if (info.step == 1) {
                    $('.dropzone').click();

                }
                else if (info.step == 2) {
                    $('#myModal').modal('show');
                    //    if (!$('#validation-form').valid()) return false;
                }
                else if (info.step == 3) {
                    pill.Recycle();
                  
                }
            }
            else {
                if (info.step == 2) {
                    $('.dropzone').click();

                }
                else if (info.step == 3) {
                    $('#myModal').modal('show');
                  
                }
               

            }
           
        }).on('finished', function (e) {
            pill.RemoveFiles();
            pill.Recycle();
          
            $('[data-target=#step1]').trigger("click");
            bootbox.dialog({
                message: "Trade Item is Uploaded",
                buttons: {
                    "success": {
                        "label": "OK",
                        "className": "btn-sm btn-primary"
                    }
                }
            });
            // optionally navigate back to 2nd step
            //$('#btnStep2').on('click', function (e, data) {
             //   $('[data-target=#step1]').trigger("click");
            //});
            //$('#fuelux-wizard').wizard('previous');
            //$('[data-target=#step1]').trigger("click");
           
        }).on('stepclick', function (e) {
            //return false;
            
            
        });

    });



</script>

