<link rel="stylesheet" href="@Url.Content("~/Content/Styles/Profile/TimeLine.css")" />
<!-- Modal -->

<div class="container">
    <div class="page-header">
        <h1 id="timeline">Timeline</h1>
    </div>


    <ul id="timelineDiv" class="timeline" data-bind="foreach: Items">
        <li>
            <div data-bind="foreach: $parent.SelectedItem" class="modal fade" id="myImageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myImageModalLabel"><span data-bind="text:Name"></span></h4>
                        </div>
                        <div class="modal-body">                  
                            @Html.Partial("_ItemImagePartial")
                            @Html.Partial("_ItemCommentsPartial")
                        </div>
                        <div class="modal-footer">
                           @Html.Partial("_ItemCommentPostPartial")
                        </div>
                    </div>
                </div>
            </div>
            <div class="timeline-badge"><i class="icon icon-picture"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title"><span data-bind="text:Name"></span></h4>
                    <p><small class="text-muted"><i class="icon icon-time"></i> <span data-bind="text:ModifiedDate"></span></small></p>
                </div>

                <div class="timeline-body">
                    <p>
                        <div class="row">
                            <ul data-bind="foreach: ItemImages" class='ace-thumbnails metro-social '>
                                <!-- ko if: $index() < 7 -->
                                <li>
                                    <a data-bind="click: $root.ShowComment.bind($data, $parent)">
                                        <img data-toggle="modal" data-target="#myImageModal" data-bind="attr:{src: Path,class:'box'+$index() + ' imgTimeline ' + ' ' + $parent.ImageClass }" />
                                    </a>
                             
                                        @Html.Partial("_TradeTagPartial")
       
                                </li>

                                <!-- /ko -->
                            </ul>
                        </div>
                    </p>
                </div>
                <div class="tags tagExchange" data-bind="foreach : ExchangeTag.split(' ')">
                    @Html.Partial("_ExchangeTagPartial")
                </div>
                <div>
                    <ul class="row list-ul" data-bind="foreach: ItemCommented">
                        <li class="row list-li">
                            <div class="col-xs-2">
                                <div class="img imgComment"><img data-bind="attr:{src: $parent.Owner.Avatar}" src="/Content/Assets/Images/avatar.jpg" /></div>
                            </div>
                            <div class="col-xs-10 txtComment">
                                <span data-bind="text:Comment"></span>
                                @Html.Partial("_ModifyItemPartial")
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <div class="img imgComment"><img data-bind="attr:{src: Owner.Avatar}" src="/Content/Assets/Images/avatar.jpg" /></div>
                    </div>
                    <div class="col-xs-9 txtComment">
                        <div class="right-inner-addon ">
                            <i class="icon-comments "></i>
                            <input type="text" class="form-control" data-bind="value:CommentText " placeholder=" write a comment..." />

                        </div>
                    </div>
                    <div class="col-xs-1 txtComment">
                        <button class="btn btn-primary btn-xs" data-bind="click: $parent.RecycleComment">
                            <i class="icon-trash  bigger-110 icon-only"></i>
                        </button>
                    </div>
                </div>

            </div>

        </li>

    </ul>
</div>

<script src="@Url.Content("~/Scripts/Profile/TimeLine.js")" type="text/javascript"></script>
