@{
    ViewBag.Title = "Dashboard";
}

<link rel="stylesheet" href="@Url.Content("~/Content/Styles/Profile/Dashboard.css")" />
<span id="currentUser" data-text="@ViewBag.UserId"></span>

<div class="main-container container" id="main-container">
    <div class="main-container-inner">
        <div class="main-content">
            <!-- .main-content -->
            <div class="row">
                <div class="col-md-3">
                    @Html.Partial("_ProfileBarPartial")
                    <div class="hr32"></div>
                    @Html.Partial("_StatisticsPartial")
                    <div class="hr32"></div>
                    @Html.Partial("_UsersPartial")
                </div>
                <div class="col-md-7">
                    @Html.Partial("_WallPartial")
                </div>
                <div class="col-md-2" style="background-color:red;height:100%;">
                </div>
            </div><!-- /.main-content -->
        </div>
    </div>
</div>
