@{
    ViewBag.Title = "Dashboard";
}

@Styles.Render("~/Content/Dashboard")
<span id="currentUser" data-text="@ViewBag.UserId"></span>
<span id="loginUser" data-text="@ViewBag.LoginUserId"></span>
<span id="isUser" data-text="@ViewBag.IsUser"></span>
<div class="main-container container" id="main-container">
    <div class="main-container-inner">
        <div class="main-content">
            <!-- .main-content -->
            <div class="row">
                <div class="col-md-3">
                    @Html.Partial("_ProfileBarPartial")
                    <div class="hr32"></div>
                    @Html.Partial("_StatisticsPartial")
                    <div class="hr32"></div>
                    @Html.Partial("_UsersPartial")
                    <div class="hr32"></div>

                </div>

                <div class="col-md-6">
                    @if (ViewBag.IsUser != 0)
                    {
                        @Html.Partial("_PillPartial")
                    }
                    @*@Html.Partial("_WallPartial")*@
                    @Html.Partial("_TimeLinePartial")
                </div>

                <div class="col-md-3">
                    @Html.Partial("_AdPartial")

                </div>
            </div><!-- /.main-content -->
        </div>
    </div>
</div>
