<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Think Recycle Me</title>

    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Styles.Render("~/Content/Assets/Recycle")
    @Styles.Render("~/Content/Styles/Recycle")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/layout")
    <script src="http://recyclemeapi.azurewebsites.net/Scripts/jquery.signalR-2.1.0.min.js"></script>
    <script src="http://recyclemeapi.azurewebsites.net/signalr/hubs"></script>
    @Styles.Render("~/Content/Assets/Fonts")
    @Styles.Render("~/Content/Assets/MainFonts")
    @Styles.Render("~/Content/knockout-kendo")
    @Scripts.Render("~/bundles/azure")
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-container" id="navbar-container">
            <div class="navbar-header pull-left">
                <a href="@Url.Action("", "")" class="navbar-brand">
                    <small>
                        <i class="fa fa-lightbulb-o"></i>
                        <span class="LogoTitle">Recycle Me</span>
                    </small>
                </a>
            </div>
            <div class="navbar-header pull-right" role="navigation">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @RenderBody()
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/modal")
</body>
</html>