@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{

    <script>

       var connection = $.connection.hub,
       hub = $.connection.postHub, message = "this is a test", userId = "signalr";

        connection.url = "http://localhost:49892/signalr";
        connection.logging = true;

        hub.client.message = function (value) {
            alert(value);
        }

        connection.start()
            .done(function () {
                console.log('Now connected, connection ID=' + $.connection.hub.id);
                hub.server.sendToUser(userId, message);
            })
            .fail(function (error) {
                console.log(value);
            });


        @*var post = $.connection.postHub;

        post.client.addMessage = function (msg) {
            alert(msg);
        }


        $.connection.hub.url = "http://localhost:49892/signalr";
        $.connection.hub.start().done(function () {
            console.log('Now connected, connection ID=' + $.connection.hub.id);
            post.server.hello("@User.Identity.GetUserName()");
        }).fail(function (error) {
            console.log('Could not Connect!');
        });*@
    </script>

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

        <div id="loginPartialDiv" data-bind="foreach: Login">
            <ul class="nav ace-nav">
                <li class="light-yellow">
                    <a data-toggle="dropdown" class="dropdown-toggle">
                        <div class="avatar-face">
                            <div class="img-circle">
                                <img class="nav-user-photo" data-bind="attr:{src: Avatar}" src="/Content/Assets/images/avatar.jpg" alt=@User.Identity.GetUserName() />
                                <span class="user-info">

                                    @User.Identity.GetUserName()
                                </span>
                                <i class="fa fa-caret-down browndirt"></i>
                            </div>
                        </div>
                    </a>
                    <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li>
                            <a href="@Url.Action("", "")">
                                <i class="fa fa-cog"></i>
                                Settings
                            </a>
                        </li>

                        <li>
                            <a href="@Url.Action("Dashboard", "Profile")">

                                <i class="fa fa-user"></i>
                                Profile
                            </a>

                        </li>

                        <li>
                            <a href="@Url.Action("Message", "Profile")">
                                <i class="fa fa-envelope"></i>
                                Message
                            </a>

                        </li>


                        <li class="divider"></li>

                        <li id="logoutBtn" class="logout">
                            <a href="#">
                                <i class="fa fa-power-off"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    }


    @Scripts.Render("~/bundles/header")
    <script>
        var global = new GlobalViewModel();
        global.User("@User.Identity.GetUserId()", "@User.Identity.GetUserName()")
        ko.applyBindings(global, document.getElementById("loginPartialDiv"));
        global.Profile();
    </script>
}
else
{

    <ul class="nav navbar-nav navbar-right col-md-12  hidden-xs">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
