@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

    <div id="loginPartialDiv" data-bind="foreach: Login">
        <ul class="nav ace-nav">
            <li class="light-yellow">
                <a data-toggle="dropdown" class="dropdown-toggle">
                    <div class="avatar-face">
                        <div class="img-circle">
                            <img class="nav-user-photo" data-bind="attr:{src: Avatar}" src="/Content/Assets/images/avatar.jpg" alt=@User.Identity.GetUserName() />
                            <span class="user-info">

                                @User.Identity.GetUserName()
                            </span>
                            <i class="icon-caret-down browndirt"></i>
                        </div>
                    </div>
                </a>
                <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                    <li>
                        <a href="#">
                            <i class="icon-cog"></i>
                            Settings
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("Dashboard", "Profile")">
                            <i class="icon-user"></i>
                            Profile
                        </a>
                    </li>

                    <li class="divider"></li>

                    <li id="logoutBtn" class="logout">
                        <a href="#">
                            <i class="icon-off"></i>
                            Logout
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    }


    @Scripts.Render("~/bundles/header")
    <script>
        var global = new GlobalViewModel();
        global.User("@User.Identity.GetUserId()", "@User.Identity.GetUserName()")
        ko.applyBindings(global, document.getElementById("loginPartialDiv"));
        global.Profile();
    </script>
}
else
{

    <ul class="nav navbar-nav navbar-right col-md-12  hidden-xs">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
