@model RecycleMeMVC.Models.ExternalLoginConfirmationViewModel

<link rel="stylesheet" href="@Url.Content("~/Content/Assets/css/bootstrap-editable.css")" />
<link rel="stylesheet" href="@Url.Content("~/Content/Styles/Account/LoginReg.css")" />


<div class="login-content ">

    <div class="login-shadow text-center ">
        <h1 class="text-center login-padding white smaller">Associate your @ViewBag.LoginProvider account.</h1>
    </div>

    @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="well well-lg login-shadow">
            <div class="form-group">
                <label class="block clearfix">
                    <label for="UserName">Profile Name</label>
                    <span class="block input-icon input-icon-left">
                        <input type="text" id="UserName" name="UserName" class="form-control" placeholder="Username" value="@Model.UserName">
                        <i class="fa fa-user" ></i>
                        <span class="editable-clear-x"></span>
                        @Html.ValidationMessageFor(m => m.UserName)
                    </span>
                </label>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="icon-circle-arrow-right"></i>Sign up</button>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/loginreg")
    @Scripts.Render("~/bundles/jqueryval")
}